.navbar {
  background-color: #fff;
  z-index: 999;
  transition: 400ms;
  margin-bottom: 3px;
  border-bottom: #d9d9d9 1px solid;
}

.box-shadow {
  box-shadow: 0 8px 6px -2px #999;
  z-index: 1000;
  transition: 400ms;
}

.routes {
  margin-top: 70px;
}

